<h1>Listing attendance_lists</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @attendance_lists.each do |attendance_list| %>
      <tr>
        <td><%= link_to 'Show', attendance_list %></td>
        <td><%= link_to 'Edit', edit_attendance_list_path(attendance_list) %></td>
        <td><%= link_to 'Destroy', attendance_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attendance list', new_attendance_list_path %>
