@import "bootstrap";
@import "bootstrap-responsive";

.hero-unit
{
	text-align: center;
	background-color: #32c6a6;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;

}

.navbar
{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: large;

}

body{
	padding: 60px;


}
.navbar
{
	:hover{
		background-color: transparent;
	}
}



